version: 2.1

jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main.py
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main-test.py
  test1:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main-test1.py

workflows:
  build_and_test:
    nigthly:
      triggers:
        - schedule:
            cron: "25 * * * *"
            filters:
              branches:
                only:
                  - main
    jobs:
      - build
      - test:
          requires:
            - build
      - test1:
          requires:
            - build